<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="vis">
    <test thread-count="5" name="test1">

        <classes>
            <class name="com.vis.testcases.Config"></class>
          <class name="com.vis.testcases.HomePageTest"></class>
            <class name="com.vis.testcases.SinginPageTest"></class>
           <class name="com.vis.testcases.mailPageTest"></class>
           <class name="com.vis.testcases.recivemessagae"></class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- OrangeLabs -->